### Install pyttsx3 module which converts text to speech 
Run any one of the following commands in the terminal:

pip install pyttsx3
conda install pyttsx3

### Installing PyPDF2 module for accessing and reading PDFs
Execute the following command in the terminal:

pip3 install Pypdf2