appdirs==1.4.4
asgiref==3.3.1
autopep8==1.5.7
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
comtypes==1.1.7
distlib==0.3.1
Django==3.1.7
docopt==0.6.2
filelock==3.0.12
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
Js2Py==0.70
MarkupSafe==1.1.1
MouseInfo==0.1.3
mysql-connector==2.2.9
nltk==3.5
numpy==1.19.5
opencv-python==4.5.2.52
packaging==20.4
pandas==1.2.0
Pillow==8.1.0
pipwin==0.5.0
PyAudio @ file:///C:/Users/damar/pipwin/PyAudio-0.2.11-cp38-cp38-win32.whl
PyAutoGUI==0.9.52
pycodestyle==2.7.0
PyGetWindow==0.0.9
pyjokes==0.6.0
pyjsparser==2.7.1
PyJWT==2.0.0
PyMsgBox==1.0.9
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.1
pypiwin32==223
PyPrind==2.11.2
PyRect==0.1.4
PyScreeze==0.1.26
pySmartDL==1.3.4
python-dateutil==2.8.1
pyttsx3==2.90
PyTweening==1.0.3
pytz==2020.1
pywhatkit==3.8
pywin32==228
regex==2020.11.13
requests==2.24.0
scikit-learn==0.24.1
scipy==1.6.0
six==1.15.0
sklearn==0.0
soupsieve==2.0.1
SpeechRecognition==3.8.1
sqlparse==0.4.1
threadpoolctl==2.1.0
toml==0.10.2
tqdm==4.56.0
twilio==6.50.1
tzlocal==2.1
urllib3==1.25.10
virtualenv==20.2.1
virtualenvwrapper-win==1.2.6
Werkzeug==1.0.1
wikipedia==1.4.0
