asn1crypto==0.24.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.3
cachetools==3.1.1
certifi==2020.12.5
chardet==4.0.0
cliapp==1.20170827
cryptography==2.1.4
enum34==1.1.6
futures==3.3.0
google==3.0.0
google-api-core==1.24.1
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
gyp==0.1
httplib2==0.18.1
idna==2.10
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
Markdown==2.6.9
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.26.1
pytz==2020.5
pyxdg==0.25
PyYAML==3.12
requests==2.25.1
rsa==4.5
SecretStorage==2.3.1
six==1.15.0
soupsieve==1.9.6
ttystatus==0.38
uritemplate==3.0.1
urllib3==1.26.2
